
<h1>My CRM</h1>
 
<ul>
  <% for company in @companies %>
    <li>
      <a href="/companies/<%=company["id"]%>"><%= company["name"] %>
    </li>
  <% end %>
</ul>

<p>
<a href="/companies/new">get new company
</p>
